:root{
    --transform1:rotateX(0deg)
    --transform:rotateX(90deg);
}


*{
    box-sizing: border-box;
}

body{
    margin:0;
    overflow: hidden;
    background-color: rgb(5, 5, 5);
}

#loading_in_container{
    background-image: url("media/background6.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    inset: 0;

    transition-property: transform, opacity;
    transition-duration: 3s;
    transition-delay: 2s, 4s;
    transition-timing-function: ease-in-out;
}


#dark_filter{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    inset: 0;
    animation: background_fade_out 3s ease-in-out;

    transition-property: left;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

@keyframes background_fade_out{
    0%{   
        background-color: rgba(0, 0, 0, 1);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.6);
    }
}

#loading_in_container h1{
    position: absolute;
    left:50%;
    top:45%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 90px;
    text-align: center;
    z-index:1;

    animation:change_opacity 4s ease-in-out;
    transition-property: left;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

#loading_in_container .move_left{
    left:-100%;
}

@keyframes change_opacity {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
/*
@keyframes color-animation {
    0%{
        color:white;
    }

    50%{
        color:#6FA2E8;
    }

    100%{
        color: white;
    }
}

#loading_in_container span:nth-child(1){animation: color-animation 5s ease-in-out 3s;}
#loading_in_container span:nth-child(2){animation: color-animation 5s ease-in-out 3.5s;}
#loading_in_container span:nth-child(3){animation: color-animation 5s ease-in-out 4s;}
#loading_in_container span:nth-child(4){animation: color-animation 5s ease-in-out 4.5s;}
*/

#content_wrapper{
    transform: scale(4);

    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 6s;
}

#shutter_effect{
    transition-property: border;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;

    position: absolute;
    inset:0;
    z-index: -10;
}

#image_container{
    position: relative;
    height: 100vh;
    width: 100vw;
    right:0%;
}

#shutter_effect.shutter{
    border:500px solid rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;

    background-size: cover;
    background-position: center;

    transition-duration: 3s;
    transition-property: transform;
    transition-timing-function: ease-in-out;

    transform: rotate3d(1, 0, 0, 0deg);
}

.background img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;

}

.flip{
    transform: rotate3d(1, 0, 0, 180deg);
}

.background img{
    opacity:0;
    transform: rotate(180deg);

    transition-property: opacity;
    transition-duration: 10ms;
    transition-delay: 1500ms;
}

.background .display{
    opacity: 1;
}


#background1{
    background-image: url("media/background5.jpg");
}

#background2{
    background-image: url("media/background3.jpg");
    left: 100%;
}

#background3{
    background-image: url("media/background7.jpg");
    left:200%;
}

#background4{
    background-image: url("https://www.apple.com/newsroom/videos/media/rotation/posters/Apple-WWCD23-Vision-Pro-rotation-230605.jpg.large_2x.jpg");
    left:300%;

}

#image_container{
    right:0;

    transition-property: right;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

#wrapper{
    transition: 500ms all ease-in-out; 
    position: relative;
}

#phone_container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

#phone_base{

    height:65%;
    width:80%;
    border-radius: 50px;

    box-shadow:
    0px 0px 1px 10px black inset, 
    /*0px 0px 2px 700px rgba(0, 0, 0, 0.6),*/
    0px 0px 2px 6px rgba(0, 0, 0, 0.9),
    30px 30px 6px 6px rgba(0, 0, 0, 0.7)
    ;

    display: flex;
    justify-content: space-between;

    overflow: hidden;
 
}

#phone_top{
    background-color: rgb(0, 0, 0);
    width: 6%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;    
}

#speaker_grill{
    height: 15%;
    width: 8%;

    background-color: rgb(82, 82, 82);

    border-radius: 10px;
}

#phone_bottom{
    height: 100%;
    width: 25%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;    

}

nav{
    background-color: rgb(59, 59, 59);
    height: 85%;
    width: 20%;
    border-radius: 40px;
    overflow: hidden;
}

nav #item_container{
    width: 100%;
    height: 100%;
    gap:22%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    position: relative;
    top:0;

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-property: top;
}

nav .nav_item{
    transform: rotate(-90deg);

    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;

    transition-property: color, font-size;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

    color: white;
}

nav .yellow{
    color: rgb(255, 187, 0);
    font-size: 200%;
}

nav .nav_item:hover{
    color: rgb(255, 187, 0);
    cursor: pointer;
}

nav p{
    margin:0;
}

#button_container{
    height: 80%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#shutter_button{
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    border:2px solid black;
    box-shadow:0px 0px 1px 8px white;

    background-color: white;

    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

#shutter_button:hover{
    box-shadow: 0px 0px 1px 8px white, 0px 0px 10px 2px black inset;
}

#shutter_button:active{
    box-shadow: 0px 0px 1px 8px white, 0px 0px 20px 10px black inset;
}

#change_angle_button:hover{
    cursor: pointer;
    background-color: rgb(37, 37, 37);
}

#change_angle_button{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: rgb(59, 59, 59);

    transform: rotate(-10deg);

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color, transform;
    transition-duration: 400ms, 700ms;
    transition-timing-function: ease-in-out;
}

#change_angle_button img{
    width: 40px;
}

#change_angle_button.rotate{
    transform:rotate(180deg);
}

#album_button{
    background-image: url("media/background.jpg");
    background-size: cover;
    height: 75px;
    width: 75px;
}



